<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zec.qr" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".yol_tarifi"
            android:label="@string/title_activity_yol_tarifi" >
        </activity>
        <activity
            android:name=".duyurular"
            android:label="@string/title_activity_duyurular" >
        </activity>
        <activity
            android:name=".ders_programi"
            android:label="@string/title_activity_ders_programi" >
        </activity>
        <activity
            android:name=".sosyal_medya"
            android:label="@string/title_activity_sosyal_medya" >
        </activity>
        <activity
            android:name=".etkinlik"
            android:label="@string/title_activity_etkinlik" >
        </activity>
        <activity
            android:name=".hakkimizda"
            android:label="@string/title_activity_hakkimizda" >
        </activity>
        <activity
            android:name=".ders_goster"
            android:label="@string/title_activity_ders_goster" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".yol_goster"
            android:label="@string/title_activity_yol_goster" >
        </activity>
    </application>

</manifest>
